OPEN_TERMINAL_API_KEY=your-open-terminal-api-key-here
OPEN_TERMINAL_PACKAGES=your-open-terminal-packages-here
OPEN_TERMINAL_PIP_PACKAGES=your-open-terminal-pip-packages-here
OPEN_TERMINAL_EXECUTE_DESCRIPTION=your-open-terminal-execute-description-here
OPEN_TERMINAL_CORS_ALLOWED_ORIGINS=your-open-terminal-cors-allowed-origins-here

