# Ignore secrets
**/.env
.ruff_cache

# Ignore runtime data (large/private)
runtime/**/data/
runtime/**/conf/
runtime/**/work/
runtime/**/letsencrypt/
runtime/syncthing/config/
runtime/certs/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
