ENABLE_OLLAMA_API=your-enable-ollama-api-here
OLLAMA_BASE_URL=your-ollama-base-url-here

HF_BASEURL=your-hf-baseurl-here
HF_TOKEN=your-hf-token-here

OPENROUTER_BASEURL=your-openrouter-baseurl-here
OPENROUTER_APIKEY=your-openrouter-apikey-here

OPENAI_BASEURL=your-openai-baseurl-here
OPENAI_APIKEY=your-openai-apikey-here

ANTHROPIC_BASEURL=your-anthropic-baseurl-here
ANTHROPIC_APIKEY=your-anthropic-apikey-here

DEEPSEEK_BASEURL=your-deepseek-baseurl-here
DEEPSEEK_APIKEY=your-deepseek-apikey-here

OPENAI_API_BASE_URLS=your-openai-api-base-urls-here
OPENAI_API_KEYS=your-openai-api-keys-here

CORS_ALLOW_ORIGIN=your-cors-allow-origin-here
WEBUI_URL=your-webui-url-here
WEBUI_SECRET_KEY=your-webui-secret-key-here
WEBUI_ADMIN_EMAIL=your-webui-admin-email-here
WEBUI_ADMIN_PASSWORD=your-webui-admin-password-here

CRAWL4AI_BASE_URL=your-crawl4ai-base-url-here
RAG_WEB_LOADER_URL=your-rag-web-loader-url-here

NINEROUTER_URL=your-ninerouter-url-here
NINEROUTER_KEY=your-ninerouter-key-here
